/* Full-screen overlay */
.app-loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
}

/* Center the loader */
.loader-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* From Uiverse.io by forzayt */
.hr-container {
  background: #e8e8e8;
  color: #999;
  font-size: 100%;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hr-container .heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px auto;
}

.hr-container .heart-rate .fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.hr-container .heart-rate .fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  background-color: #e8e8e8;
  top: 0;
  right: -120%;
  animation: heartRateOut 2.5s linear infinite;
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}
